<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Manage List Application</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': isNavItemActive(ENavigation.GamesList)}">
        <a class="nav-link" (click)="goTo(ENavigation.GamesList)">Video games list <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': isNavItemActive(ENavigation.WishList)}">
        <a class="nav-link" (click)="goTo(ENavigation.WishList)">Wishlist</a>
      </li>
    </ul>
  </div>
</nav>
