@import 'variables';

@font-face {
  font-family: '@{icomoon-font-family}';
  src: url('@{icomoon-font-family}.eot?4mff3x');
  src: url('@{icomoon-font-family}.eot?4mff3x#iefix') format('embedded-opentype'),
    url('@{icomoon-font-family}.ttf?4mff3x') format('truetype'),
    url('@{icomoon-font-family}.woff?4mff3x') format('woff'),
    url('@{icomoon-font-family}.svg?4mff3x#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen {
  &:before {
    content: @icon-fullscreen;
  }
}
.icon-fullscreen-exit {
  &:before {
    content: @icon-fullscreen-exit;
  }
}
.icon-pie-chart {
  &:before {
    content: @icon-pie-chart;
  }
}
.icon-card-list {
  &:before {
    content: @icon-card-list;
  }
}
.icon-round-add {
  &:before {
    content: @icon-round-add;
  }
}
.icon-check {
  &:before {
    content: @icon-check;
  }
}
.icon-cross {
  &:before {
    content: @icon-cross;
  }
}
.icon-pencil {
  &:before {
    content: @icon-pencil;
  }
}
.icon-trash {
  &:before {
    content: @icon-trash;
  }
}
.icon-caret-down-fill {
  &:before {
    content: @icon-caret-down-fill;
  }
}
.icon-caret-up-fill {
  &:before {
    content: @icon-caret-up-fill;
  }
}
