@icomoon-font-family: 'icomoon';
@icomoon-font-path: 'fonts';

@icon-fullscreen: '\e907';
@icon-fullscreen-exit: '\e908';
@icon-pie-chart: '\e909';
@icon-card-list: '\e90a';
@icon-round-add: '\e906';
@icon-check: '\e904';
@icon-cross: '\e905';
@icon-pencil: '\e902';
@icon-trash: '\e903';
@icon-caret-down-fill: '\e900';
@icon-caret-up-fill: '\e901';
