<section  [style.visibility]="videoGamesRepartition? 'visible': 'hidden'" class="card"     
[@toggleClick]="fullScreen">
    <div class="toggle-container m-3">
      <ng-container *ngIf="!fullScreen; else fullScreenTitle">
        <a class="icon icon-pie-chart"></a>
      </ng-container>
      <ng-template #fullScreenTitle> 
        <h2> Video Games Pie chart repartition </h2> 
      </ng-template>
      <div class="toggle-button" (click)="toogleFullScreen()">
        <span [ngClass]="fullScreen ? 'icon-fullscreen' : 'icon-fullscreen-exit'"></span>
      </div>
    </div>

    <div class="sub-title-container m-3">
        <h4>
          <span *ngIf="!allDataUse; else allData"> {{dataTypeName}} </span>
          <ng-template #allData> All data </ng-template>
          pie chart information
        </h4>
    </div>
 
    <div class="canvas-container p-4" [style.visibility]="fullScreen? 'visible': 'hidden'">
      <canvas #chartjs id="myChart" width="700" height="400"></canvas>
    </div>
    <div class="switch-container m-3">
     <!-- Default checked -->
    <div class="custom-control custom-switch">
      <span> Specific data </span>
      <label class="switch">
        <input type="checkbox" (change)="switchData()">
        <span class="slider round"></span>
      </label>
      <span> All files data </span>
    </div>
    </div>
    <div class="cta-container">
      <button type="button" class="btn btn-primary btn-block" (click)="nextVideoGames()">Next video games to play ?</button>
    </div>
  </section>
