.toggle-container {
  display: flex;
  justify-content: space-between;
  h2 {
    margin: 0;
  }
  .toggle-button {
    cursor: pointer;
    span {
      vertical-align: middle;
      font-size: 15px;
    }
  }
}

.sub-title-container {
  display: flex;
}

.canvas-container {
  margin: auto;
}

.icon {
  font-size: 33px;
}

.cta-container {
  margin: 4em auto;
  button {
    width: auto;
    display: block;
  }
}

.switch-container {
  display: flex;
  justify-content: center;
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
