.nav {
  border-bottom: 2px solid;
  padding-bottom: 0.2em !important;
}
.numberCells {
  vertical-align: middle;
}

.icon {
  font-size: 33px;
}

.disabled {
  pointer-events: none;
  color: #0000002e;
}

.files-data {
  padding: 1.5rem;
}

#myTabContent {
  &.table-data {
    overflow: scroll;
    height: 520px;
    overflow-x: hidden;
  }
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  h2 {
    margin: 0;
  }
  .toggle-button {
    cursor: pointer;
    span {
      vertical-align: middle;
      font-size: 15px;
    }
  }
}

th {
  cursor: pointer;
  &.middle {
    vertical-align: middle;
  }
  .icon-caret-up-fill,
  .icon-caret-down-fill {
    &.active {
      color: #ea0000a6;
    }
  }
}

tbody {
  tr {
    &.edit-cell,
    &.new-data-occurence {
      td {
        vertical-align: middle;
      }
    }
    &.new-data-occurence {
    }
  }
  td {
    &.cta-icon {
      text-align: center;
      a {
        cursor: pointer;
        padding: 5px;
        &.disabled {
          pointer-events: none;
          color: #0000002e;
        }
      }
    }
  }
}
