div {
  &.main-container {
    display: flex;
    flex-direction: row;
    app-data-list {
      margin: 30px 0 30px 30px;
    }
    app-video-games-pie-chart {
      margin: 30px 0;
    }
    app-data-list,
    app-video-games-pie-chart {
      flex: 1;
      width: 15%;
      &.full-screen-component {
        flex: 6;
      }
    }
  }
}

@media screen and (max-width: 1326px) {
  div {
    &.main-container {
      flex-direction: column;
      app-data-list,
      app-video-games-pie-chart {
        flex: 1;
        width: auto;
        &.full-screen-component {
          flex: 6;
        }
      }
    }
  }
}
