<ng-container>  
  <app-import-data-list></app-import-data-list>
  <div class="main-container">
      <app-video-games-pie-chart [ngClass]="{'full-screen-component': secondCardFullScreen}" [dataTypeName]="dataTypeName" [filesData]="data" [fullScreen]="secondCardFullScreen" (fullScreenEvent)="onSecondCardChange($event)" ></app-video-games-pie-chart>    
      <app-data-list [ngClass]="{'full-screen-component': firstCardFullScreen}" [fullScreen]="firstCardFullScreen" (fullScreenEvent)="onFirstCardChange($event)" (fileDataContent)="getFilesData($event)" (fileTabName)="getFileTabName($event)"></app-data-list>
  </div> 
</ng-container>
