<ng-container>  
    <app-import-data-list></app-import-data-list>
    <div class="main-container">
      <section class="data-list">
        <app-data-list alwaysFullScreen="true"></app-data-list>
      </section>   
    </div> 
</ng-container>
  